<div class="banner">
	<div class="slideshow white-bg">
		<div class="slider-banner-container">
			<div class="slider-banner-fullscreen-alt-nav">
				<ul>
					<li data-transition="fade" data-slotamount="1"  data-masterspeed="1000" data-fstransition="fade" data-fsmasterspeed="1000" data-saveperformance="off" data-title="Slide 1">
					<img src="/videos/video-poster.jpg"  alt="slidebg1" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
					<div class="tp-caption dark-translucent-bg"
						data-x="center"
						data-y="bottom"
						data-speed="800"
						data-start="0">
					</div>
					<div class="tp-caption tp-fade fadeout fullscreenvideo"
						data-x="0"
						data-y="0"
						data-speed="1000"
						data-start="1100"
						data-easing="Power4.easeOut"
						data-elementdelay="0.01"
						data-endelementdelay="0.1"
						data-endspeed="1500"
						data-endeasing="Power4.easeIn"
						data-autoplay="true"
						data-autoplayonlyfirsttime="false"
						data-nextslideatend="true"
						data-volume="mute" 
						data-forceCover="1" 
						data-aspectratio="16:9" 
						data-forcerewind="on" 
						style="z-index: 2;">
						<video class="" preload="none" width="100%" height="100%" poster='videos/video-poster.jpg'> 
							<source src="/videos/background-video.mp4" type='video/mp4'/>
							<source src="/videos/background-video.webm" type='video/webm'/>
						</video>
					</div>

					<!-- LAYER NR. 1 -->
					<div class="tp-caption very_large_text sfl tp-resizeme"
						data-x="center"
						data-y="70" 
						data-speed="200"
						data-start="0"
						data-end="10000"
						data-endspeed="200"
						data-splitin="chars"
						data-elementdelay="0.07"
						data-endelementdelay="0.1"
						data-splitout="chars">Great software is built by great teams
					</div>

					<div class="tp-caption sfr small_thin_white text-center tp-resizeme"
						data-x="center"
						data-y="170" 
						data-speed="600"
						data-start="0"
						data-end="10000"
						data-endspeed="600">We help build and manage a team of world-class <br> developers to bring your vision to life 
					</div>

					<div class="tp-caption sft"
						data-x="center"
						data-y="500" 
						data-speed="600"
						data-start="0"
						data-end="10000"
						data-endspeed="600">
						<a href="#page-top" class="btn btn-lg smooth-scroll"><i class="fa fa-angle-double-down fa-2x"></i></a>
					</div>

					</li>
					<li data-transition="fade" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on" data-title="Slide 2">
					
					<img src="/images/boostyour.jpg"  alt="slidebg1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

					<div class="tp-caption light-translucent-bg"
						data-x="center"
						data-y="bottom"
						data-speed="800"
						data-start="0"
						style="background-color:rgba(255,255,255,0.3);">
					</div>

					<div class="tp-caption very_large_text sfl tp-resizeme black"
						data-x="center"
						data-y="70" 
						data-speed="200"
						data-start="0"
						data-end="10000"
						data-endspeed="200"
						data-splitin="chars"
						data-elementdelay="0.07"
						data-endelementdelay="0.1"
						data-splitout="chars">Stable, Secure, and scalable code starts here
					</div>

					<div class="tp-caption sfr small_thin_dark text-center tp-resizeme"
						data-x="center"
						data-y="170" 
						data-speed="600"
						data-start="0"
						data-end="10000"
						data-endspeed="600">We specialize in designing, building, and maintaining custom-made websites and apps. <br>Whether you desire to have professional looking services, Eterant is here to help.
					</div>

					<div class="tp-caption light_medium_20 sft"
						data-x="center"
						data-y="500" 
						data-speed="600"
						data-start="0"
						data-end="10000"
						data-endspeed="600">
						<a href="#page-top" class="btn btn-lg black smooth-scroll"><i class="fa fa-angle-double-down fa-2x"></i></a>
					</div>

					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div id="page-top" class="page-top object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100">
	<div class="clearfix">
		<div class="col-md-12">
			<h1 class="text-center title">Services</h1>
			<div class="separator"></div>
			<p class="text-center">We serve business and tech leaders building software.</p>
			<div class="row grid-space-20">
				<div class="col-md-12 col-lg-5">
					<br class="hidden-sm hidden-xs">
					<br class="hidden-sm hidden-xs">
					<img src="/images/service.jpg" alt="" class="object-non-visible center-block" data-animation-effect="fadeInUp" data-effect-delay="0">
				</div>
				<div class="col-md-6 col-lg-3">
					<br class="hidden-xs">
					<div class="box-style-3 object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="0">
						<div class="icon-container python-bg circle">
							<i class="fab fa-python"></i>
						</div>
						<div class="body">
							<h2>Python/Flask/Django</h2>
							<p>Web-application framework designed for moving smoothly from an initial idea to working solutions.</p>
						</div>
					</div>
					<div class="box-style-3 object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="0">
						<div class="icon-container react-bg circle">
							<i class="fab fa-react"></i>
						</div>
						<div class="body">
							<h2>React.js</h2>
							<p>Web-application framework designed for moving smoothly from an initial idea to working solutions.</p>
						</div>
                    </div>
                    <div class="box-style-3 object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="0">
						<div class="icon-container angular-bg circle">
							<i class="fab fa-angular"></i>
						</div>
						<div class="body">
							<h2>AngularJS</h2>
							<p>Structural framework for dynamic web apps, Single Page Applications (SPAs)</p>
						</div>
					</div>
					<div class="box-style-3 object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="200">
						<div class="icon-container sketch-bg circle">
							<i class="fab fa-sketch"></i>
						</div>
						<div class="body">
							<h2>UX/UI Design</h2>
							<p>Design effective products with elegant interfaces and delightful user experiences.</p>
						</div>
					</div>
					<br class="hidden-xs hidden-sm">
				</div>
				<div class="col-md-6 col-lg-3">
					<br class="hidden-xs">
					<div class="box-style-3 object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="0">
						<div class="icon-container react-bg circle">
							<i class="fab fa-react"></i>
						</div>
						<div class="body">
							<h2>React Native</h2>
							<p>Build native mobile apps for iOS and Android using React. Reuse code for your web and mobile apps.</p>
						</div>
					</div>
					<div class="box-style-3 object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="200">
						<div class="icon-container default-bg circle">
							<i class="fab fa-node"></i>
						</div>
						<div class="body">
							<h2>Node.js</h2>
							<p>Build performant web applications based on Javascript – one language for full-stack development.</p>
						</div>
                    </div>
                    <div class="box-style-3 object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="200">
						<div class="icon-container vue-bg circle">
							<i class="fab fa-vuejs"></i>
						</div>
						<div class="body">
							<h2>Vue.js</h2>
							<p>Open-source JavaScript framework for building user interfaces and single-page applications.</p>
						</div>
					</div>
					<div class="box-style-3 object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="400">
						<div class="icon-container cloud-bg circle">
							<i class="fas fa-cloud"></i>
						</div>
						<div class="body">
							<h2>DevOps & Cloud</h2>
							<p>Robust Infrastructure as Code solutions for automated provisioning and scaling.</p>
						</div>
					</div>
					<br class="hidden-xs">
				</div>
			</div>
		</div>
	</div>
</div>

<div class="clearfix light-gray-bg object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="200">
	<div class="full-width-section">
		<div class="full-image-container">
			<img class="center-block" src="/images/future.jpg" alt="">
		</div>
		<div class="full-text-container">
			<h1>Wellcome to the Future</h1>
			<div class="separator-2"></div>
			<p class="lead">Lorem ipsum dolor sit amet. Maiores, odio ut deleniti doloremque ad at praesentium laudantium.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi veniam, veritatis sint consequuntur! Natus, culpa, explicabo! Non quo laboriosam nobis quia, amet excepturi optio dolor impedit. Perferendis libero unde, nulla deserunt sequi. Voluptatum, officia suscipit porro reprehenderit vitae quo rem reiciendis, a vero quae. Vero beatae voluptatum.</p>
		</div>
	</div>
	<div class="section  dark-bg pattern-6">
		<div class="container">
			<div class="call-to-action">
				<div class="row">
					<div class="col-md-8">
						<h1 class="title text-center">We offer more possibilities to meet your every need.</h1>
					</div>
					<div class="col-md-4">
						<div class="text-center">
							<a href="#contactus" class="btn btn-default btn-lg">Contact Us</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

    <div class="home-service-wrapper" style="overflow: hidden;">
        <div class="home-service-list-wrap">
            <div class="home-service-list">
                <div class="single-service-wrap">
                    <div class="service-single very-light-pink sc-18exhag-0 hhEtMd">
                        <div class="service-img-blk"><img src="/images/CustomSoftwareDevelopment.svg"
                                title="Custom Software Development Services"></div>
                        <div class="service-content-blk">
                            <h4><a href="/custom-software-development">Custom Software Development Services</a></h4>
                            <p>Solve your unique business challenges by <strong>building custom applications.</strong></p>
                        </div>
                    </div>
                </div>
                <div class="single-service-wrap">
                    <div class="service-single off-white sc-18exhag-0 hhEtMd">
                        <div class="service-img-blk"><img src="/images/ApplicationDevelopmentServices.svg"
                                title="Application Development Services"></div>
                        <div class="service-content-blk">
                            <h4><a href="/application-development">Application Development Services</a></h4>
                            <p>Improve your <strong>time to market</strong> and quality with our app development services.</p>
                        </div>
                    </div>
                </div>
                <div class="single-service-wrap">
                    <div class="service-single pale sc-18exhag-0 hhEtMd">
                        <div class="service-img-blk"><img src="/images/SoftwareTesting.svg" title="Software Testing Services"></div>
                        <div class="service-content-blk">
                            <h4><a href="/software-testing">Software Testing <br>Services</a></h4>
                            <p>Confidently deliver software faster with our <strong>robust QA processes.</strong></p>
                        </div>
                    </div>
                </div>
                <div class="single-service-wrap">
                    <div class="service-single sky-blue sc-18exhag-0 hhEtMd">
                        <div class="service-img-blk"><img src="/images/snatural-language-processing.svg"
                                title="Hire Dedicated Developers"></div>
                        <div class="service-content-blk">
                            <h4><a href="/artificial-intelligence-services">AI/ML Development <br> Services </a></h4>
                            <p> Use machine learning to build intelligent <strong>AI-driven apps</strong> </p>
                        </div>
                    </div>
                </div>
                <div class="single-service-wrap">
                    <div class="service-single pale-grey sc-18exhag-0 hhEtMd">
                        <div class="service-img-blk"><img src="/images/Enterprisemobile.svg" title="Mobile application"></div>
                        <div class="service-content-blk">
                            <h4><a href="/mobile-apps">Mobile Application<br>Development</a></h4>
                            <p><strong>B2B and B2C</strong> mobile apps for organizations ready to adopt a mobile-first world.</p>
                        </div>
                    </div>
                </div>
                <div class="single-service-wrap">
                    <div class="service-single ice sc-18exhag-0 hhEtMd">
                        <div class="service-img-blk"><img src="/images/Dedicatedsoftware.svg" title="Dedicated software development">
                        </div>
                        <div class="service-content-blk">
                            <h4><a href="/dedicated-development-team">Dedicated Software Development Team</a></h4>
                            <p>Expand your <strong>development capacity</strong> without any operational overhead.</p>
                        </div>
                    </div>
                </div>
                <div class="single-service-wrap">
                    <div class="service-single very-light-pink-two sc-18exhag-0 hhEtMd">
                        <div class="service-img-blk"><img src="/images/APIintegrationServices.svg" title="API integration Services">
                        </div>
                        <div class="service-content-blk">
                            <h4><a href="/api-integration-development">API Integration &amp; Development Services</a></h4>
                            <p><strong>Cut down development time</strong> and costs by Integrating APIs and Systems.</p>
                        </div>
                    </div>
                </div>
                <div class="single-service-wrap">
                    <div class="service-single ice-blue sc-18exhag-0 hhEtMd">
                        <div class="service-img-blk"><img src="/images/web-app-development.svg" title="Web App Development"></div>
                        <div class="service-content-blk">
                            <h4><a href="/web-apps-development">Web Application Development Services</a></h4>
                            <p>Build <strong>enterprise-grade web apps</strong> that power mission-critical workflows.</p>
                        </div>
                    </div>
                </div>
                <div class="single-service-wrap">
                    <div class="service-single pale-lavender sc-18exhag-0 hhEtMd">
                        <div class="service-img-blk"><img src="/images/ProductDevelopmentServices.svg"
                                title="Product development services"></div>
                        <div class="service-content-blk">
                            <h4><a href="/software-product-development">Software Product Development Services</a></h4>
                            <p>Shape and <strong>validate your vision</strong> by working with our product experts.</p>
                        </div>
                    </div>
                </div>
                <div class="single-service-wrap">
                    <div class="service-single very-light-pink-three sc-18exhag-0 hhEtMd">
                        <div class="service-img-blk"><img src="/images/HireDedicatedDeveloper.svg" title="Hire Dedicated Developers">
                        </div>
                        <div class="service-content-blk">
                            <h4><a href="/hire-dedicated-developers">Hire Dedicated <br>Developers</a></h4>
                            <p><strong>Top programmers</strong> on your time and terms with guaranteed results.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="margin-clear space-top clearfix object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="300">

	<div class="container">
		<h1 class="page-title text-center">Portfolios</h1>
		<div class="separator"></div>
		<br>
		<p class="lead text-center">Find out our best use cases below</p>
		<div class="filters text-center">
			<ul class="nav nav-pills">
				<li class="active"><a href="#" data-filter="*">All</a></li>
				<li><a href="#" data-filter=".web-design">Web design</a></li>
				<li><a href="#" data-filter=".app-development">App development</a></li>
				<li><a href="#" data-filter=".site-building">Site building</a></li>
			</ul>
		</div>
	</div>

	<div class="isotope-container margin-clear grid-space-0">
		<div class="col-sm-6 col-md-4 isotope-item web-design">
			<div class="image-box">
				<div class="overlay-container">
					<img src="/images/cocreate.png" alt="">
					<a href="/portfolio/cocreate" class="overlay small">
						<i class="fa fa-link"></i>
						<span>Web Design</span>
					</a>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4 isotope-item site-building">
			<div class="image-box">
				<div class="overlay-container">
					<img src="/images/freemancapital.png" alt="">
					<a href="/portfolio/freemancapital" class="overlay small">
						<i class="fa fa-link"></i>
						<span>Site Building</span>
					</a>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4 isotope-item site-building">
			<div class="image-box">
				<div class="overlay-container">
					<img src="/images/slapcenter.png" alt="">
					<a href="/portfolio/slapcenter" class="overlay small">
						<i class="fa fa-link"></i>
						<span>Site Building</span>
					</a>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4 isotope-item app-development">
			<div class="image-box">
				<div class="overlay-container">
					<img src="/images/livinflow.png" alt="">
					<a href="/portfolio/livinflow" class="overlay small">
						<i class="fa fa-link"></i>
						<span>App Development</span>
					</a>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4 isotope-item web-design">
			<div class="image-box">
				<div class="overlay-container">
					<img src="/images/wealthminder.png" alt="">
					<a href="/portfolio/wealthminder" class="overlay small">
						<i class="fa fa-link"></i>
						<span>Web Design</span>
					</a>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4 isotope-item site-building">
			<div class="image-box">
				<div class="overlay-container">
					<img src="/images/vivino.png" alt="">
					<a href="/portfolio/vivino" class="overlay small">
						<i class="fa fa-link"></i>
						<span>Site Building</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="section object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="owl-carousel content-slider-with-controls-bottom">
					<div class="testimonial margin-clear clearfix">
                        <h2 class="title">Amazing!</h2>
						<div class="testimonial-image">
							<img src="/images/Robert.jpg" alt="Robert Padbury" title="Robert Padbury" class="img-circle">
						</div>
						<div class="testimonial-body">
							<p>The services provided by this company are unparalleled. We received over 100 designs for a very competitive price. The designer are top tier and know how to turn your ideas into a reality.</p>
							<div class="testimonial-info-1">- Robert Padbury</div>
							<div class="testimonial-info-2">Senior Manager</div>
						</div>
						<hr class="clear">
					</div>
					<div class="testimonial margin-clear clearfix">
						<h2 class="title">Great!</h2>
						<div class="testimonial-image">
							<img src="/images/Titus.jpg" alt="Titus Smith" title="Titus Smith" class="img-circle">
						</div>
						<div class="testimonial-body">
							<p>The quality and response speed of a Eterant services is truly remarkable. We will definitely be using you guys again!</p>
							<div class="testimonial-info-1">- Titus Smith</div>
							<div class="testimonial-info-2">CTO</div>
						</div>
						<hr class="clear">
					</div>
					<div class="testimonial margin-clear clearfix">
						<h2 class="title">Wonderful!</h2>
						<div class="testimonial-image">
							<img src="/images/Martin.png" alt="Martin Karasek" title="Martin Karasek" class="img-circle">
						</div>
						<div class="testimonial-body">
							<p>Thanks to Eterant, I was able to become freelancer [with] 3-4 work enquiries every week. I have never been happier in my career life. With Eterant I not only get a lot of work, but also a huge motivation to showcase my work.</p>
							<div class="testimonial-info-1">- Martin Karasek</div>
							<div class="testimonial-info-2">Freelancer</div>
						</div>
						<hr class="clear">
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
</div>

<div class="section light-gray-bg footer-top clearfix light">
	<div class="container">
		<div class="row" style="margin-bottom: 2rem;">
            <h2 style="padding-left: 1rem; padding-right: 1rem;">Trusted by over 30,000 of the world’s leading companies</h2>
			<div class="col-md-10">
				<div class="owl-carousel clients">
                    <div class="client">
                        <img src="/images/airbnb.png" alt="" style="width: 75px; height: auto; opacity: 0.5;">
                    </div>
                    <div class="client">
                        <img src="/images/shopify.png" alt="" style="width: 75px; height: auto; opacity: 0.5;">
                    </div>
					<div class="client">
						<img src="/images/client-1.png" alt="">
					</div>
					<div class="client">
                            <img src="/images/client-2.png" alt="">
                    </div>
					<div class="client">
                            <img src="/images/client-3.png" alt="">
					</div>
					<div class="client">
                            <img src="/images/client-4.png" alt="">
					</div>
					<div class="client">
                            <img src="/images/client-5.png" alt="">
					</div>
					<div class="client">
                            <img src="/images/client-6.png" alt="">
					</div>
					<div class="client">
                            <img src="/images/client-7.png" alt="">
					</div>
					<div class="client">
                            <img src="/images/client-8.png" alt="">
					</div>
					
				</div>
            </div>
        </div>
        <div class="row">
			<div class="col-md-6">
				<blockquote class="inline">
					<p class="margin-clear">Design is not just what it looks like and feels like. Design is how it works.</p>	
					<footer><cite title="Source Title">Steve Jobs </cite></footer>
				</blockquote>
			</div>
		</div>
	</div>
</div>

<footer id="footer" class="light">
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="footer-content" id="contactus">
            <h2>Contact Us</h2>
            <div class="row">
              <div class="col-md-6">
                <ul class="list-icons">
                  <li><i class="fa fa-map-marker pr-10"></i> 3333 North Michael Way, Las Vegas, NV, 89108</li>
                  <li><i class="fa fa-phone pr-10"></i> +00 1234567890</li>
                  <li><i class="fa fa-envelope-o pr-10"></i> info@idea.com</li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="social-links circle">
                  <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                  <li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                  <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
                  <li class="skype"><a target="_blank" href="http://www.skype.com"><i class="fa fa-skype"></i></a></li>
                  <li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="subfooter">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>Copyright © 2015 <a target="_blank" href="http://htmlcoder.me">ETERANT, LLC</a>. All Rights Reserved</p>
        </div>
        <div class="col-md-6">
          <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>   
            <div class="collapse navbar-collapse" id="navbar-collapse-2">
              <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</footer>