<div class="page-intro">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb">
					<li><i class="fa fa-home pr-10"></i><a href="/">Home</a></li>
					<li class="active">Portfolio</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<!-- page-intro end -->

<!-- main-container start -->
<!-- ================ -->
<section class="main-container">

	<div class="container">
		<div class="row">

			<!-- main start -->
			<!-- ================ -->
			<div class="main col-md-12">

				<!-- page-title start -->
				<!-- ================ -->
				<h1 class="page-title">Portfolio</h1>
				<div class="separator-2"></div>
				<p class="lead">Select Case Studies</p>
				<!-- page-title end -->
				
				<!-- isotope filters start -->
				<div class="filters">
					<ul class="nav nav-pills">
						<li class="active"><a href="#" data-filter="*">All</a></li>
						<li><a href="#" data-filter=".web">Web design</a></li>
						<li><a href="#" data-filter=".app-development">App development</a></li>
						<li><a href="#" data-filter=".site-building">Website building</a></li>
					</ul>
				</div>
				<!-- isotope filters end -->

				<!-- portfolio items start -->
				<div class="isotope-container row">
					<div class="col-md-4 col-sm-6 isotope-item site-building">
						<div class="image-box">
							<div class="overlay-container">
								<img src="/images/vivino.png" alt="">
								<div class="overlay">
									<div class="overlay-links">
										<a href="/portfolio/vivino"><i class="fa fa-link"></i></a>
										<a href="/images/vivino.png" class="popup-img"><i class="fa fa-search-plus"></i></a>
									</div>
									<span>Site Building</span>
								</div>
							</div>
							<div class="image-box-body">
								<h3 class="title"><a href="/portfolio/vivino">Vivino</a></h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci accusamus accusantium.</p>
								<a href="/portfolio/vivino" class="link"><span>Read More</span></a>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 isotope-item web">
						<div class="image-box">
							<div class="overlay-container">
								<img src="/images/cocreate.png" alt="">
								<div class="overlay">
									<div class="overlay-links">
										<a href="/portfolio/cocreate"><i class="fa fa-link"></i></a>
										<a href="/images/cocreate.png" class="popup-img"><i class="fa fa-search-plus"></i></a>
									</div>
									<span>Web Design</span>
								</div>
							</div>
							<div class="image-box-body">
								<h3 class="title"><a href="/portfolio/cocreate">CoCreate</a></h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci accusamus accusantium.</p>
								<a href="/portfolio/cocreate" class="link"><span>Read More</span></a>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 isotope-item site-building">
						<div class="image-box">
							<div class="overlay-container">
								<img src="/images/freemancapital.png" alt="">
								<div class="overlay">
									<div class="overlay-links">
										<a href="/portfolio/freemancapital"><i class="fa fa-link"></i></a>
										<a href="/images/freemancapital.png" class="popup-img"><i class="fa fa-search-plus"></i></a>
									</div>
									<span class="text-capitalize">Site Building</span>
								</div>
							</div>
							<div class="image-box-body">
								<h3 class="title"><a href="/portfolio/freemancapital">Freeman Capital</a></h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci accusamus accusantium.</p>
								<a href="/portfolio/freemancapital" class="link"><span>Read More</span></a>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 isotope-item site-building">
						<div class="image-box">
							<div class="overlay-container">
								<img src="/images/slapcenter.png" alt="">
								<div class="overlay">
									<div class="overlay-links">
										<a href="/portfolio/slapcenter"><i class="fa fa-link"></i></a>
										<a href="/images/slapcenter.png" class="popup-img"><i class="fa fa-search-plus"></i></a>
									</div>
									<span>Site Building</span>
								</div>
							</div>
							<div class="image-box-body">
								<h3 class="title"><a href="/portfolio/slapcenter">Slapcenter</a></h3>
								<p>In a world that is all hyped up about raising millions, building yet another app and then trying to sell for billions- the client are hyped up about changing the world one small business at a time.</p>
								<a href="/portfolio/slapcenter" class="link"><span>Read More</span></a>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 isotope-item app-development">
						<div class="image-box">
							<div class="overlay-container">
								<img src="/images/livinflow.png" alt="">
								<div class="overlay">
									<div class="overlay-links">
										<a href="/portfolio/livinflow"><i class="fa fa-link"></i></a>
										<a href="/images/livinflow.png" class="popup-img"><i class="fa fa-search-plus"></i></a>
									</div>
									<span>App Development</span>
								</div>
							</div>
							<div class="image-box-body">
								<h3 class="title"><a href="/portfolio/livinflow">livinflow</a></h3>
								<p>livinflow combines the best of Nutrition, Activity, Mindfulness and Coaching. Our team of experts has created a holistic program for you, which is individually tailored to you.</p>
								<a href="/portfolio/livinflow" class="link"><span>Read More</span></a>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 isotope-item web">
						<div class="image-box">
							<div class="overlay-container">
								<img src="/images/wealthminder.png" alt="">
								<div class="overlay">
									<div class="overlay-links">
										<a href="/portfolio/wealthminder"><i class="fa fa-link"></i></a>
										<a href="/images/wealthminder.png" class="popup-img"><i class="fa fa-search-plus"></i></a>
									</div>
									<span>Web Design</span>
								</div>
							</div>
							<div class="image-box-body">
								<h3 class="title"><a href="/portfolio/wealthminder">Wealthminder</a></h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci accusamus accusantium.</p>
								<a href="/portfolio/wealthminder" class="link"><span>Read More</span></a>
							</div>
						</div>
					</div>
				</div>
				<!-- portfolio items end -->

			</div>
			<!-- main end -->

		</div>
	</div>
</section>
<!-- main-container end -->

<!-- section start -->
<!-- ================ -->
<div class="section light-gray-bg footer-top clearfix light">
	<div class="container">
		<div class="row" style="margin-bottom: 2rem;">
			<h2>Trusted by over 30,000 of the world’s leading companies</h2>
			<div class="col-md-10">
				<div class="owl-carousel clients">
					<div class="client">
						<img src="/images/airbnb.png" alt="" style="width: 75px; height: auto; opacity: 0.5;">
					</div>
					<div class="client">
						<img src="/images/shopify.png" alt="" style="width: 75px; height: auto; opacity: 0.5;">
					</div>
					<div class="client">
						<img src="/images/client-1.png" alt="">
					</div>
					<div class="client">
							<img src="/images/client-2.png" alt="">
					</div>
					<div class="client">
							<img src="/images/client-3.png" alt="">
					</div>
					<div class="client">
							<img src="/images/client-4.png" alt="">
					</div>
					<div class="client">
							<img src="/images/client-5.png" alt="">
					</div>
					<div class="client">
							<img src="/images/client-6.png" alt="">
					</div>
					<div class="client">
							<img src="/images/client-7.png" alt="">
					</div>
					<div class="client">
							<img src="/images/client-8.png" alt="">
					</div>
					
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<blockquote class="inline">
					<p class="margin-clear">Design is not just what it looks like and feels like. Design is how it works.</p>	
					<footer><cite title="Source Title">Steve Jobs </cite></footer>
				</blockquote>
			</div>
		</div>
	</div>
</div>
<!-- section end -->

<!-- footer start (Add "light" class to #footer in order to enable light footer) -->
<!-- ================ -->
<footer id="footer">
	<!-- .footer start -->
	<!-- ================ -->
	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<div class="footer-content">
						<div class="row">
							<div class="col-sm-6">
								<p>Tell us about your project</p>
								<ul class="social-links circle">
									<li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
									<li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
									<li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
									<li class="skype"><a target="_blank" href="http://www.skype.com"><i class="fa fa-skype"></i></a></li>
									<li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
							<div class="col-sm-6">
						        <div class="logo-footer"><img id="logo-footer" src="/images/logo.png" alt=""></div>
								<ul class="list-icons">
									<li><i class="fa fa-map-marker pr-10"></i> 3333 North Michael Way, Las Vegas, NV, 89108</li>
									<li><i class="fa fa-phone pr-10"></i> +00 1234567890</li>
									<li><i class="fa fa-fax pr-10"></i> +00 1234567891 </li>
									<li><i class="fa fa-envelope-o pr-10"></i> info@idea.com</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="space-bottom hidden-lg hidden-xs"></div>
				<div class="col-sm-6 col-md-2">
					<div class="footer-content">
						<h2>Links</h2>
						<nav>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="/">Home</a></li>
								<li><a href="/portfolio">Portfolio</a></li>
							</ul>
						</nav>
					</div>
				</div>
				<!-- <div class="col-sm-6 col-md-3 col-md-offset-1">
					<div class="footer-content">
						<h2>Latest Projects</h2>
						<div class="gallery row">
							<div class="gallery-item col-xs-4">
								<div class="overlay-container">
									<img src="images/gallery-1.jpg" alt="">
									<a href="portfolio-item.html" class="overlay small">
										<i class="fa fa-link"></i>
									</a>
								</div>
							</div>
							<div class="gallery-item col-xs-4">
								<div class="overlay-container">
									<img src="images/gallery-2.jpg" alt="">
									<a href="portfolio-item.html" class="overlay small">
										<i class="fa fa-link"></i>
									</a>
								</div>
							</div>
							<div class="gallery-item col-xs-4">
								<div class="overlay-container">
									<img src="images/gallery-3.jpg" alt="">
									<a href="portfolio-item.html" class="overlay small">
										<i class="fa fa-link"></i>
									</a>
								</div>
							</div>
							<div class="gallery-item col-xs-4">
								<div class="overlay-container">
									<img src="images/gallery-4.jpg" alt="">
									<a href="portfolio-item.html" class="overlay small">
										<i class="fa fa-link"></i>
									</a>
								</div>
							</div>
							<div class="gallery-item col-xs-4">
								<div class="overlay-container">
									<img src="images/gallery-5.jpg" alt="">
									<a href="portfolio-item.html" class="overlay small">
										<i class="fa fa-link"></i>
									</a>
								</div>
							</div>
							<div class="gallery-item col-xs-4">
								<div class="overlay-container">
									<img src="images/gallery-6.jpg" alt="">
									<a href="portfolio-item.html" class="overlay small">
										<i class="fa fa-link"></i>
									</a>
								</div>
							</div>
							<div class="gallery-item col-xs-4">
								<div class="overlay-container">
									<img src="images/gallery-7.jpg" alt="">
									<a href="portfolio-item.html" class="overlay small">
										<i class="fa fa-link"></i>
									</a>
								</div>
							</div>
							<div class="gallery-item col-xs-4">
								<div class="overlay-container">
									<img src="images/gallery-8.jpg" alt="">
									<a href="portfolio-item.html" class="overlay small">
										<i class="fa fa-link"></i>
									</a>
								</div>
							</div>
							<div class="gallery-item col-xs-4">
								<div class="overlay-container">
									<img src="images/gallery-9.jpg" alt="">
									<a href="portfolio-item.html" class="overlay small">
										<i class="fa fa-link"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div> -->
			</div>
			<div class="space-bottom hidden-lg hidden-xs"></div>
		</div>
	</div>
	<!-- .footer end -->

	<!-- .subfooter start -->
	<!-- ================ -->
	<div class="subfooter">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<p>Copyright © 2015 <a target="_blank" href="http://htmlcoder.me">ETERANT, LLC</a>. All Rights Reserved</p>
				</div>
				<div class="col-md-6">
					<nav class="navbar navbar-default" role="navigation">
						<!-- Toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-2">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>   
						<div class="collapse navbar-collapse" id="navbar-collapse-2">
							<ul class="nav navbar-nav">
								<li><a href="/">Home</a></li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<!-- .subfooter end -->

</footer>