<!-- page-intro start-->
<!-- ================ -->
<div class="page-intro">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb">
					<li><i class="fa fa-home pr-10"></i><a href="/">Home</a></li>
					<li><a href="/portfolio">Portfolio</a></li>
					<li class="active">Wealthminder</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<!-- page-intro end -->

<!-- main-container start -->
<!-- ================ -->
<section class="main-container">

	<div class="container">
		<div class="row">

			<!-- main start -->
			<!-- ================ -->
			<div class="main col-md-12">

				<!-- page-title start -->
				<!-- ================ -->
				<h1 class="page-title margin-top-clear">Wealthminder</h1>
				<!-- page-title end -->
				<div class="row">
					<div class="col-md-6">
						<h3>Project Description</h3>
						<div class="separator-2"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero!</p>
					</div>
					<div class="col-md-6">
						<div class="tab-content clear-style">
							<div class="tab-pane active" id="portfolio-images">
								<div class="owl-carousel content-slider-with-controls">
									<div class="overlay-container">
										<img src="/images/wealthminder.png" alt="">
										<a href="/images/wealthminder.png" class="popup-img overlay" title="image title"><i class="fa fa-search-plus"></i></a>
									</div>
									<div class="overlay-container">
										<img src="/images/wealthminder1.png" alt="">
										<a href="/images/wealthminder1.png" class="popup-img overlay" title="image title"><i class="fa fa-search-plus"></i></a>
									</div>
									<div class="overlay-container">
										<img src="/images/wealthminder2.png" alt="">
										<a href="/images/wealthminder2.png" class="popup-img overlay" title="image title"><i class="fa fa-search-plus"></i></a>
                                    </div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-3 col-xs-6">
						<h3>Project Info</h3>
						<ul class="list">
							<li><strong class="vertical-divider">Date </strong> MAR 2018</li>
							<li><strong class="vertical-divider">In </strong> Web Design</li>
							<li><strong class="vertical-divider">URL </strong> <a href="https://www.wealthminder.com/">Wealthminder</a></li>
						</ul>
					</div>
					<div class="col-md-3 col-xs-6">
						<h3>Technical Stacks</h3>
						<ul class="list" style="margin-left: 1.5rem;">
							<li>HTML5</li>
                            <li>Javascript</li>
                            <li>JQuery</li>
                            <li>Bootstrap</li>
                            <li>CSS</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- main-container end -->

<!-- footer start (Add "light" class to #footer in order to enable light footer) -->
<!-- ================ -->
<footer id="footer">
		<!-- .footer start -->
		<!-- ================ -->
		<div class="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-9">
						<div class="footer-content">
							<div class="row">
								<div class="col-sm-6">
									<p>Tell us about your project</p>
									<ul class="social-links circle">
										<li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
										<li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
										<li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
										<li class="skype"><a target="_blank" href="http://www.skype.com"><i class="fa fa-skype"></i></a></li>
										<li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
									</ul>
								</div>
								<div class="col-sm-6">
									<div class="logo-footer"><img id="logo-footer" src="/images/logo.png" alt=""></div>
									<ul class="list-icons">
										<li><i class="fa fa-map-marker pr-10"></i> 3333 North Michael Way, Las Vegas, NV, 89108</li>
										<li><i class="fa fa-phone pr-10"></i> +00 1234567890</li>
										<li><i class="fa fa-fax pr-10"></i> +00 1234567891 </li>
										<li><i class="fa fa-envelope-o pr-10"></i> info@idea.com</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="space-bottom hidden-lg hidden-xs"></div>
					<div class="col-sm-6 col-md-2">
						<div class="footer-content">
							<h2>Links</h2>
							<nav>
								<ul class="nav nav-pills nav-stacked">
									<li><a href="/">Home</a></li>
									<li><a href="/portfolio">Portfolio</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- .footer end -->
	
		<!-- .subfooter start -->
		<!-- ================ -->
		<div class="subfooter">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<p>Copyright © 2015 <a target="_blank" href="http://htmlcoder.me">ETERANT, LLC</a>. All Rights Reserved</p>
					</div>
					<div class="col-md-6">
						<nav class="navbar navbar-default" role="navigation">
							<!-- Toggle get grouped for better mobile display -->
							<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-2">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>   
							<div class="collapse navbar-collapse" id="navbar-collapse-2">
								<ul class="nav navbar-nav">
									<li><a href="/">Home</a></li>
									<li><a href="/contact">Contact</a></li>
								</ul>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<!-- .subfooter end -->
	
	</footer>
<!-- footer end -->